
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background-color: antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    caret-color: transparent;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubantu';
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}
.brand{
    display: flex;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 35px;
    padding: 0 8px;
}
.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    margin: 23px auto;
    width: 75%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("bg.jpg");
    background-size: cover ;
    
}

.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
     margin-top: 8px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem{
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    color: black;
    font-weight: 600;
    border-radius: 30px;
    margin: 12px 0;
    width: 40vw;
}


.songItem img{
    height: 40px;
    
    border-radius: 50%;
    cursor: pointer;
}
.songItem span i{
    cursor: pointer;
}
.songInfo img{
    height: 10px;
}
.songInfo{
    height: 10px;
    font-size: 10px;
}
.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.zeroduration{
    float: inline-start;
}

@media screen and (max-width: 900px) {
    .songItem{
        height: 6vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color:white;
        color: black;
        font-weight: 600;
        border-radius: 30px;
        margin: 12px 0;
        width: 75vw;
    }
  }